<div class="row">
    <h1>Hard & Soft skills</h1>
    
    <div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="90"
        [radius]="100"
        title="HTML"
        titleColor="black"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            title="JavaScript"
            titleColor="black"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="70"
                [radius]="100"
                title="CSS"
                titleColor="black"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                    [percent]="60"
                    [radius]="100"
                    title="GitHub"
                    titleColor="black"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                        [percent]="80"
                        [radius]="100"
                        title="Inglés"
                        titleColor="black"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                    ></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                            [percent]="80"
                            [radius]="100"
                            title="Office"
                            titleColor="black"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="8"
                            [outerStrokeColor]="'#78C000'"
                            [innerStrokeColor]="'#C7E596'"
                            [animation]="true"
                            [animationDuration]="300"
                        ></circle-progress>
    </div>
</div>