<div>
    <a href="https://www.linkedin.com/in/manuel-dentis-441769209/"><img src="../../../assets/LKNlogo.png" alt=""></a>
    <a href="https://twitter.com/ManuelDentis1"><img src="../../../assets/TWlogo.png" alt=""></a>
    <a href="https://www.instagram.com/manudentis/"><img src="../../../assets/IGlogo.png" alt=""></a>
    <a href="https://github.com/Manueld98"><img src="../../../assets/GHlogo.png" alt=""></a>
    <a href="https://www.facebook.com/manuel.dentis.5/"><img src="../../../assets/FBlogo.png" alt=""></a>
</div>